{{- $twikooParams := site.Params.twikoo | default dict -}}
{{- $twikooEnvId := or (index $twikooParams "envId") (index $twikooParams "envid") (index $twikooParams "envID") | default "" -}}
{{- /* Only mount Twikoo when envId is configured. */ -}}
{{- if $twikooEnvId -}}
<div id="tcomment"></div>
<script src="https://cdn.jsdelivr.net/npm/twikoo@1.7.1/dist/twikoo.min.js"></script>
<script>
  twikoo.init({
    envId: {{ $twikooEnvId | safeJSStr }},
    el: '#tcomment',
    path: window.location.pathname,
  });
</script>
{{- end -}}